In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
#renamed test_lAUu....csv to test.csv outside program
test= pd.read_csv('test.csv')

In [5]:
train= pd.read_csv('train.csv')

In [6]:
train.shape

(614, 13)

In [7]:
test.shape

(367, 12)

In [8]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [9]:
test

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [10]:
train

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [11]:
train.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [12]:
test.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [14]:
train.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [15]:
for i in ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status']:
    print(i,'\n')
    print(train[i].value_counts())
    print('')

Loan_ID

LP001002    1
LP002328    1
LP002305    1
LP002308    1
LP002314    1
           ..
LP001692    1
LP001693    1
LP001698    1
LP001699    1
LP002990    1
Name: Loan_ID, Length: 614, dtype: int64

Gender

Male      489
Female    112
Name: Gender, dtype: int64

Married

Yes    398
No     213
Name: Married, dtype: int64

Dependents

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

Education

Graduate        480
Not Graduate    134
Name: Education, dtype: int64

Self_Employed

No     500
Yes     82
Name: Self_Employed, dtype: int64

ApplicantIncome

2500    9
4583    6
6000    6
2600    6
3333    5
       ..
3244    1
4408    1
3917    1
3992    1
7583    1
Name: ApplicantIncome, Length: 505, dtype: int64

CoapplicantIncome

0.0       273
2500.0      5
2083.0      5
1666.0      5
2250.0      3
         ...
2791.0      1
1010.0      1
1695.0      1
2598.0      1
240.0       1
Name: CoapplicantIncome, Length: 287, dtype: int64

LoanAmount

120.0    20
110.0    17
100.0    15
160.0    12
187.0    12
         ..
240.0     1
214.0     1
59.0      1
166.0     1
253.0     1
Name: LoanAmount, Length: 203, dtype: int64

Loan_Amount_Term

360.0    512
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64

Credit_History

1.0    475
0.0     89
Name: Credit_History, dtype: int64

Property_Area

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

Loan_Status

Y    422
N    192
Name: Loan_Status, dtype: int64

### Replacing missing values

In [16]:
for i in ['Gender','Married','Dependents', 'Self_Employed', 'Loan_Amount_Term','Credit_History']:
    train[i]=train[i].fillna(train[i].mode()[0])
train['LoanAmount']= train['LoanAmount'].fillna(train['LoanAmount'].median())

In [17]:
train.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [18]:
test.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [19]:
for i in ['Gender','Dependents', 'Self_Employed', 'Loan_Amount_Term','Credit_History']:
    test[i]=test[i].fillna(test[i].mode()[0])
test['LoanAmount']= test['LoanAmount'].fillna(test['LoanAmount'].median())

In [20]:
test.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [21]:
train.shape

(614, 13)

In [22]:
test.shape

(367, 12)

### Modelling

In [23]:
train= train.drop('Loan_ID',axis=1)
test= test.drop('Loan_ID', axis=1)

In [24]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
train['Loan_Status']= le.fit_transform(train['Loan_Status'])

In [25]:
train=pd.get_dummies(train)
test=pd.get_dummies(test)

In [26]:
train.shape

(614, 21)

In [27]:
test.shape

(367, 20)

In [28]:
X_train=train.drop('Loan_Status', axis=1)
y_train=train['Loan_Status']
X_test=test

In [29]:
#modelling
from sklearn.ensemble import RandomForestClassifier
rf= RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred= rf.predict(X_test)

In [30]:
y_pred

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1])

In [31]:
y_train

0      1
1      0
2      1
3      1
4      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 614, dtype: int64

In [32]:
read= pd.read_csv('test.csv')
read

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [33]:
#saving dataframe
df= pd.DataFrame({'Loan_ID': read['Loan_ID'], 'Loan_Status':y_pred})

In [34]:
df['Loan_Status'] = df['Loan_Status'].replace({1: 'Y', 0: 'N'})

In [35]:
df

      Loan_ID Loan_Status
0    LP001015           Y
1    LP001022           Y
2    LP001031           Y
3    LP001035           Y
4    LP001051           Y
..        ...         ...
362  LP002971           Y
363  LP002975           Y
364  LP002980           Y
365  LP002986           N
366  LP002989           Y

[367 rows x 2 columns]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Loan_ID      367 non-null    object
 1   Loan_Status  367 non-null    object
dtypes: object(2)
memory usage: 5.9+ KB

In [37]:
df.isna().sum()

Loan_ID        0
Loan_Status    0
dtype: int64

In [38]:
df['Loan_Status'].value_counts()

Y    289
N     78
Name: Loan_Status, dtype: int64

In [39]:
#turning dataframe to csv
df.to_csv('submission(random forest).csv', index=False)

In [40]:
from sklearn.linear_model import LogisticRegression
lr= LogisticRegression(multi_class='multinomial', max_iter=1000)
model= lr.fit(X_train, y_train)
y_pred = model.predict(X_test)
df= pd.DataFrame({'Loan_ID': read['Loan_ID'], 'Loan_Status':y_pred})
df['Loan_Status'] = df['Loan_Status'].replace({1: 'Y', 0: 'N'})
df.to_csv('submission(Logistic Regression).csv', index=False)

In [41]:
#svm
from sklearn.svm import SVC
svmclf= SVC(kernel='linear')
model = svmclf.fit(X_train, y_train)
y_pred = svmclf.predict(X_test)
df= pd.DataFrame({'Loan_ID': read['Loan_ID'], 'Loan_Status':y_pred})
df['Loan_Status'] = df['Loan_Status'].replace({1: 'Y', 0: 'N'})
df.to_csv('submission(svm linear).csv', index=False)

In [42]:
from sklearn.svm import SVC
svmclf= SVC(kernel='poly')
model = svmclf.fit(X_train, y_train)
y_pred = svmclf.predict(X_test)
df= pd.DataFrame({'Loan_ID': read['Loan_ID'], 'Loan_Status':y_pred})
df['Loan_Status'] = df['Loan_Status'].replace({1: 'Y', 0: 'N'})
df.to_csv('submission(svm poly).csv', index=False)

In [43]:
from sklearn.svm import SVC
svmclf= SVC(kernel='rbf')
model = svmclf.fit(X_train, y_train)
y_pred = svmclf.predict(X_test)
df= pd.DataFrame({'Loan_ID': read['Loan_ID'], 'Loan_Status':y_pred})
df['Loan_Status'] = df['Loan_Status'].replace({1: 'Y', 0: 'N'})
df.to_csv('submission(svm rbf).csv', index=False)

In [44]:
from sklearn.tree import DecisionTreeClassifier
dt= DecisionTreeClassifier()
dt.fit(X_train, y_train)
y_pred= dt.predict(X_test)
df= pd.DataFrame({'Loan_ID': read['Loan_ID'], 'Loan_Status':y_pred})
df['Loan_Status'] = df['Loan_Status'].replace({1: 'Y', 0: 'N'})
df.to_csv('submission(decisiontree).csv', index=False)

### Hyperparameter Tuning (no need y_test)

In [45]:
#randomized search
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import LogisticRegression
from scipy.stats import uniform, randint

param_dist = {
    'C': uniform(loc=0, scale=1),
    'penalty': ['l1', 'l2'],
    'solver': ['liblinear', 'saga'],
    'max_iter': randint(100, 10000) #randint for low high values
}

# Create a Logistic Regression classifier
lr = LogisticRegression()

# Perform random search
random_search = RandomizedSearchCV(
    lr, param_distributions=param_dist, n_iter=10, cv=5
)

# Fit the random search to find the best hyperparameters
random_search.fit(X_train, y_train)

# Print the best hyperparameters and the associated score
print("Best Hyperparameters: ", random_search.best_params_)
print("Best Score: ", random_search.best_score_)

Best Hyperparameters:  {'C': 0.7251096466237587, 'max_iter': 2390, 'penalty': 'l1', 'solver': 'liblinear'}
Best Score:  0.8078368652538984

In [46]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from scipy.stats import randint

# Define the hyperparameter grid
param_grid = {
    'C': [0.1, 1, 10],
    'penalty': ['l1', 'l2'],
    'solver': ['liblinear', 'saga'],
    'max_iter': [10000]
}

# Create a Logistic Regression classifier
lr = LogisticRegression()

# Perform grid search
grid_search = GridSearchCV(
    lr, param_grid=param_grid, cv=5
)

# Fit the grid search to find the best hyperparameters
grid_search.fit(X_train, y_train)

# Print the best hyperparameters and the associated score
print("Best Hyperparameters: ", grid_search.best_params_)
print("Best Score: ", grid_search.best_score_)

Best Hyperparameters:  {'C': 10, 'max_iter': 10000, 'penalty': 'l2', 'solver': 'liblinear'}
Best Score:  0.8094628815140611

In [47]:
#prediction from grid search, since it is best one
best_grid= grid_search.best_estimator_
y_pred= best_grid.predict(X_test)
df= pd.DataFrame({'Loan_ID': read['Loan_ID'], 'Loan_Status':y_pred})
df['Loan_Status'] = df['Loan_Status'].replace({1: 'Y', 0: 'N'})
df.to_csv('lr_gridsearch.csv', index=False)

### For RF

In [48]:
# Define the hyperparameter search space
param_dist = {
    'n_estimators': randint(100, 1000),
    'max_depth': randint(1, 10),
    'min_samples_split': randint(2, 10),
    'min_samples_leaf': randint(1, 5),
    'max_features': ['sqrt', 'log2', None]
}

# Create a Random Forest classifier
rf = RandomForestClassifier()

# Perform random search
random_search = RandomizedSearchCV(
    rf, param_distributions=param_dist, n_iter=10, cv=5
)

# Fit the random search to find the best hyperparameters
random_search.fit(X_train, y_train)

# Print the best hyperparameters and the associated score
print("Best Hyperparameters: ", random_search.best_params_)
print("Best Score: ", random_search.best_score_)

Best Hyperparameters:  {'max_depth': 5, 'max_features': None, 'min_samples_leaf': 4, 'min_samples_split': 9, 'n_estimators': 316}
Best Score:  0.8094628815140611

In [49]:
param_grid = {
    'n_estimators': [100, 500, 1000],
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['sqrt', 'log2']
}

# Create a Random Forest classifier
rf = RandomForestClassifier()

# Perform grid search
grid_search = GridSearchCV(
    rf, param_grid=param_grid, cv=5
)

# Fit the grid search to find the best hyperparameters
grid_search.fit(X_train, y_train)

# Print the best hyperparameters and the associated score
print("Best Hyperparameters: ", grid_search.best_params_)
print("Best Score: ", grid_search.best_score_)

Best Hyperparameters:  {'max_depth': None, 'max_features': 'sqrt', 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 100}
Best Score:  0.8111022257763562

In [50]:
best_grid= grid_search.best_estimator_
y_pred= best_grid.predict(X_test)
df= pd.DataFrame({'Loan_ID': read['Loan_ID'], 'Loan_Status':y_pred})
df['Loan_Status'] = df['Loan_Status'].replace({1: 'Y', 0: 'N'})
df.to_csv('rf_gridsearch.csv', index=False)

### SVM

In [51]:
# Define the hyperparameter grid
param_grid = {
    'C': [0.1, 1, 10, 100],
    'kernel': ['rbf']
}

# Create an SVM classifier
svm = SVC()

# Perform grid search
grid_search = GridSearchCV(
    svm, param_grid=param_grid, cv=5
)

# Fit the grid search to find the best hyperparameters
grid_search.fit(X_train, y_train)

# Print the best hyperparameters and the associated score
print("Best Hyperparameters: ", grid_search.best_params_)
print("Best Score: ", grid_search.best_score_)

Best Hyperparameters:  {'C': 0.1, 'kernel': 'rbf'}
Best Score:  0.6872984139677463

In [52]:
# Define the hyperparameter grid
param_grid = {
    'C': [0.1, 1, 10, 100],
    'kernel': ['linear']
}

# Create an SVM classifier
svm = SVC()

# Perform grid search
grid_search = GridSearchCV(
    svm, param_grid=param_grid, cv=5
)

# Fit the grid search to find the best hyperparameters
grid_search.fit(X_train, y_train)

# Print the best hyperparameters and the associated score
print("Best Hyperparameters: ", grid_search.best_params_)
print("Best Score: ", grid_search.best_score_)

Best Hyperparameters:  {'C': 10, 'kernel': 'linear'}
Best Score:  0.7996801279488205